th {
    background-color: #dddddd;
    min-width: 140px;
    max-width: 500px;
    text-align: center;
}

td {
    background-color: #eeeeff;
    min-width: 140px;
    max-width: 500px;
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
}